@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;1,400;1,500;1,700&family=Handlee&family=Montserrat:wght@500&family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
}

body {
  font-family: "Roboto Condesed" sans-serif;
}

/* *******Navbar****** */
/* .ma{
  height: 5.25rem;
  
} */

/* ****MENU LINKS***** */

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.18rem solid var(--primary-dark);
}

.navbar-brand .ma{
  max-width: 17.25rem;
  padding: o !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.18rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.18rem solid var(--primary-orange);
}